{% extends "base.html" %}
{% block title %}Manage Requests{% endblock %}
{% block content %}
<h2>Pending Borrow Item Requests</h2>
    {% if pending_borrow_requests %}
        <ul>
        {% for request in pending_borrow_requests %}
        <li>
            {{ request.item.name }} requested by {{ request.user.username }}
            <form method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="request_id" value="{{ request.id }}">
                <input type="hidden" name="request_type" value="borrow">
                <button type="submit" name="action" value="approve" class="btn btn-success btn-sm">Approve</button>
                <button type="submit" name="action" value="deny" class="btn btn-danger btn-sm">Deny</button>
            </form>
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <li>No pending borrow requests.</li>
    {% endif %}


    <hr style="margin-top: 80px; margin-bottom: 40px;">

    <h2>Pending Private Collection Access Requests</h2>
    {% if pending_access_requests %}
        <ul>
            {% for request in pending_access_requests %}
                <li>
                    {{ request.user.username }} has requested access to {{ request.collection.title }}.
                    <form method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="hidden" name="request_type" value="access">
                        <button type="submit" name="action" value="approve" class="btn btn-success">Approve</button>
                        <button type="submit" name="action" value="deny" class="btn btn-danger">Deny</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <li>No pending access requests.</li>
    {% endif %}

    <hr style="margin: 2rem 0;" />


    <h2>Pending Patron Promotion Requests</h2>
    {% if pending_promotion_requests %}
        <ul>
        {% for promo_request in pending_promotion_requests %}
            <li>
                {{ promo_request.user.username }} has requested to become a librarian.
                <form method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ promo_request.id }}">
                    <input type="hidden" name="request_type" value="promotion">
                    <button type="submit" name="action" value="approve" class="btn btn-success">Approve</button>
                    <button type="submit" name="action" value="deny" class="btn btn-danger">Deny</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <li>No pending promotion requests.</li>
    {% endif %}

{% endblock %}